button{
    border: 0;
    background-color: #2394FC;
    width: 100%;
    padding: 10px 0px;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

button:hover{
    box-shadow: 2px 2px 1px black;
    transition: 150ms ease;
}

button:active{
    box-shadow: 1px 1px 1px black inset;
}