body {
    margin: 0.5vw;
    padding:0.5vw;
    background: #FFF8E7;
    font-family: 'Oswald', sans-serif;
}

.nav-bar{
    background: #00154F;
    display: flex;
    justify-content: space-between;
}

.logo_image{
    max-height: 5vw;
    max-width: 5vw;
    height:5vw;
    width:5vw;
}

.data{
    margin: 1.8vw;
    font-weight: bold;
    text-decoration: none;
    font-size:1vw;
    color: whitesmoke;
    border-bottom: solid 0.1vw #F4AF1B;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4vw 0 0 0;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


.artigo_completo{
    border-radius: 1vw;
    padding:2vw;
    display: inline-flex;
    margin-block: 2vw;
    background-color:#00154F;
}


.imagem_artigo{
    width:880px;
    max-height:38vw;
    background-color:#D9D9D9;
}

.info{
    margin:0 0 0 0.8vw;
}
.info h1, p{
    font-size:1.5vw;
    background-color:#00154F;
    padding:0.5vw;
}

.info h1{
    border-bottom: #F4AF1B solid 0.1vw;
    color: #F4AF1B;
}

.info p{
    color: whitesmoke;
}

.link_artigo{
    color:whitesmoke;
    font-size:1vw;
    text-decoration: none;
    border-bottom: whitesmoke solid 0.15vw;
    transition: 0.5s;
}

.link_artigo:hover{
    color:#F4AF1B;
    border-bottom: #F4AF1B solid 0.15vw;
    transition: 0.5s;
}