input{
    width: 100%;
    padding: 5px;
    font-size: 1em;
    background-color: transparent;
}

input:focus{
    outline: 0;
}

.normal{
    border: 0;
    border-bottom: 1px solid black;
}

.error{
    border: 0;
    border-bottom: 1px solid red;
}
