@tailwind base;
@tailwind components;
@tailwind utilities;

#landingPage{
    background-image: url('./assets/cyborg-hand-3d-background-technology-of-artificial-intelligence.jpg');
  }

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}